/*
* COMMON LAYOUT PANE FORMATTING
*/
.outer-pane,       /* outer pane class */
.inner-pane { /* inner pane class */
  background-color: #FFF;
  border: 1px solid #777;
  padding: 0;/* alignment & padding is on the inner-divs */
  overflow: auto; /* will be auto-set to 'hidden' for any pane with a 'scrolling content div' */
}


/*
* OUTER-LAYOUT PANE FORMATTING
*/
.outer-pane-north ,
.outer-pane-south ,
.outer-pane-west ,
.outer-pane-east {
  overflow:   hidden;
}
.outer-pane-north {
  border-bottom:  none;
  }
  .outer-pane-north .content ,
  .outer-pane-south .content {
    text-align: center;
  }
.outer-pane-center {
  /* show off the inner-layout inside the outer-center-pane*/
  background-color: #F6F6F6;
  // padding: 15px; /* for outer layout */
}

/* inner divs inside Outer East/West panes */
.header {
  background: #80ade5 url(../img/80ade5_40x100_textures_04_highlight_hard_100.png) 0 50% repeat-x;
  border-bottom: 1px solid #777;
  font-weight: bold;
  text-align: center;
  padding: 2px 0 4px;
  position: relative;
  overflow: hidden;
}
.subhead ,
.footer {
  background: #d6d6d6 url(../img/d6d6d6_40x100_textures_02_glass_80.png) 0 50% repeat-x;
  padding: 3px 10px;
  font-size: 0.85em;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.subhead { border-bottom: 1px solid #777; }
.footer  { border-top: 1px solid #777; }
.contextsPanes .footer  { border-top: 1px solid #BBB; }



/*
* INNER-LAYOUT PANE FORMATTING
*/

.contextsPanes .inner-pane {
  /*padding: 10px;*/
}
.contextsPanes .inner-pane-north ,
.contextsPanes .inner-pane-south {
  text-align: center;
}
.contextsPanes .inner-pane-center {
  padding: 0 !important; /* inner divs have padding */
}
.contextsPanes .projects { /* pane content div */
  padding:  10px;
  position: relative;
  overflow: auto;
}
.contextsPanes .inner-pane-center h3 {
  font-size: 1em;
  padding: 5px;
  margin: 0;
}


/*
* OUTER LAYOUT RESIZERS & TOGGLERS
*/

/* north-pane is not resizable
.outer-pane-resizer-north-dragging ,
.outer-pane-resizer-north:hover    { background: url(../img/resizable-n.gif) repeat-x center; }*/
.outer-pane-resizer-south-dragging ,
.outer-pane-resizer-south:hover    { background: url(../img/resizable-s.gif) repeat-x center; }

.outer-pane-resizer-west-dragging ,
.outer-pane-resizer-west-open:hover  { background: url(../img/resizable-w.gif) repeat-y center; }
.outer-pane-resizer-east-dragging ,
.outer-pane-resizer-east-open:hover  { background: url(../img/resizable-e.gif) repeat-y center; }

.outer-pane-resizer-west-open ,
.outer-pane-resizer-east-open {
  background-color: #999;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.outer-pane-resizer-west-open:hover ,
.outer-pane-resizer-east-open:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.outer-pane-resizer-dragging {
  /* see draggable.opacity option
  opacity: 0.5;
  filter: alpha(opacity=50);
  */
}
.outer-pane-resizer-dragging-limit { background: #FF3300 !important; }

/* IE6 * HACK - always show resizer graphics because IE6 cannot understand elem:hover */
/** html .outer-pane-resizer-north   { background: url(../img/resizable-n.gif) repeat-x center !important; } */
* html .outer-pane-resizer-south   { background: url(../img/resizable-s.gif) repeat-x center !important; }
* html .outer-pane-resizer-west-open { background: url(../img/resizable-w.gif) repeat-y center !important; }
* html .outer-pane-resizer-east-open { background: url(../img/resizable-e.gif) repeat-y center !important; }
/** html .outer-pane-resizer-north , */
* html .outer-pane-resizer-south ,
* html .outer-pane-resizer-west-open ,
* html .outer-pane-resizer-east-open {
  opacity: 0.1 !important;
  filter: alpha(opacity=10) !important;
}

/*
* SIMPLE TOGGLER BUTTONS (used on Outer Layout North/South only)
*/

.outer-pane-toggler-north-open ,
.outer-pane-toggler-south-closed     { background: url(../img/toggle-up.gif) no-repeat center bottom; }
.outer-pane-toggler-north-closed ,
.outer-pane-toggler-south-open       { background: url(../img/toggle-dn.gif) no-repeat center top; }
/*
.outer-pane-toggler-east-closed ,
.outer-pane-toggler-west-open    { background: url(../img/toggle-lt.gif) no-repeat center right; }
.outer-pane-toggler-west-closed ,
.outer-pane-toggler-east-open    { background: url(../img/toggle-rt.gif) no-repeat center left; }
*/

/*
* extJS-STYLE RESIZER/SLIDER-BAR (CLOSED)
*/
.outer-pane-resizer-west-closed ,
.outer-pane-resizer-east-closed {
  background: #D1E6FC url(../img/D1E6FC_40x100_textures_10_dots_medium_90.png) 0 0 repeat;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}
.outer-pane-resizer-west-closed:hover ,
.outer-pane-resizer-east-closed:hover {
  background: #D1E6FC;
}

/*
* NORTH PANE TOOLBAR & BUTTONS
*/

ul.toolbar {
  position: relative;
  overflow: hidden; /* required to CONTAINER 'floating li' in FF */
  height:   auto;
  margin:   0;
  padding:  2px;
  width:    100%;
  list-style: none;
  text-align: left;
  background: #D6D6D6 url(../img/d6d6d6_40x100_textures_02_glass_80.png) 0 50% repeat-x;
  border-top: 1px solid #BBB;
  }
  ul.toolbar li {
    font-size: 0.9em;
    margin: 0;
    padding: 2px 7px;
    float: left;
    color: #000;
    border: 1px solid transparent;
    border-right-color: #BBB;
    cursor: pointer;
  }
  ul.toolbar li:hover {
    color: #005;
    background: #EEE url(../img/eeeeee_40x100_textures_02_glass_90.png) 0 50% repeat-x;
    border-top-color: #BBB;
    border-bottom-color: #BBB;
  }
  ul.toolbar li.first:hover {
    border-left-color: #BBB;
    }
    ul.toolbar li span {
      /* icons in toolbar */
      width:      15px;
      height:     15px;
      margin-left:  -3px;
      margin-right: 0.75ex;
      vertical-align: middle;
      opacity:    0.6;
      filter:     alpha(opacity=60);
      display:    block;
      display:    inline-block;
    }
    ul.toolbar li:hover span {
      opacity: 1;
      filter: alpha(opacity=100);
    }
    li.outer-pane-button-toggle-north span ,
    li.outer-pane-button-open-south span { background: url(../img/go-up-on.gif) no-repeat center; }
    li.outer-pane-button-close-south span  { background: url(../img/go-dn-on.gif) no-repeat center; }
    li.outer-pane-button-pin-up span   { background: url(../img/pin-up-on.gif) no-repeat center; }
    li.outer-pane-button-pin-down span   { background: url(../img/pin-dn-on.gif) no-repeat center; }

/*
 *  extJS-STYLE TOGGLE & PIN BUTTONS
 *
 *  these 'extra buttons' are INSIDE the east/west panes
 */

/* CUSTOM pin/close buttons */
span.outer-pane-button-pin ,
span.outer-pane-button-close {
  position: absolute;
  top:    0;
  width:    20px;
  height:   20px;
  z-index:  2;
  display:  block;
  cursor:   pointer;
}
span.outer-pane-button-close-west  { left:  0; }
span.outer-pane-button-close-east  { right: 0; }
span.outer-pane-button-pin-west  { right: 1px; }
span.outer-pane-button-pin-east  { left:  1px; }

/* CUSTOM pin-buttons */
span.outer-pane-button-pin-up          { background: url(../img/pin-up-off.gif) no-repeat center; }
span.outer-pane-button-pin-up:hover      { background: url(../img/pin-up-on.gif)  no-repeat center; }
span.outer-pane-button-pin-down        { background: url(../img/pin-dn-off.gif) no-repeat center; }
span.outer-pane-button-pin-down:hover    { background: url(../img/pin-dn-on.gif)  no-repeat center; }

/* CUSTOM close-buttons */
span.outer-pane-button-close-west      { background: url(../img/go-lt-off.gif) no-repeat center; }
span.outer-pane-button-close-west:hover  { background: url(../img/go-lt-on.gif)  no-repeat center; }
span.outer-pane-button-close-east      { background: url(../img/go-rt-off.gif) no-repeat center; }
span.outer-pane-button-close-east:hover  { background: url(../img/go-rt-on.gif)  no-repeat center; }

/* STANDARD toggler-buttons - when the east/west panes are 'closed' */
.outer-pane-toggler-west-closed    { background: url(../img/go-rt-off.gif) no-repeat center; }
.outer-pane-toggler-west-closed:hover  { background: url(../img/go-rt-on.gif)  no-repeat center; }
.outer-pane-toggler-east-closed    { background: url(../img/go-lt-off.gif) no-repeat center; }
.outer-pane-toggler-east-closed:hover  { background: url(../img/go-lt-on.gif)  no-repeat center; }


/*
* INNER LAYOUT RESIZERS & TOGGLERS
*
* These styles target 'children of center pane', so only affect the Inner Layout
* This layout has applyDefaultCSS=true, so use !important to override defaults
*/

.contextsPanes .inner-pane-resizer-open  { display: block !important; }
.contextsPanes .inner-pane-resizer-closed:hover  { background: #FFEDCA !important; }
.contextsPanes .inner-pane-resizer-open:hover ,
.contextsPanes .inner-pane-resizer-dragging    { background: #C4E1A4 !important; }
.contextsPanes .inner-pane-resizer-dragging-limit  { background: #FF3300 !important; }

.contextsPanes .inner-pane-resizer-north ,
.contextsPanes .inner-pane-resizer-south   { border-left:  1px solid #BBB !important;
                        border-right: 1px solid #BBB !important; }
.contextsPanes .inner-pane-resizer-north-closed{ border-top:   1px solid #BBB !important; }
.contextsPanes .inner-pane-resizer-south-closed{ border-bottom:1px solid #BBB !important; }
.contextsPanes .inner-pane-resizer-west-closed { border-left:  1px solid #BBB !important; }
.contextsPanes .inner-pane-resizer-east-closed { border-right: 1px solid #BBB !important; }

.contextsPanes .inner-pane-resizer:hover .inner-pane-toggler {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.contextsPanes .inner-pane-resizer:hover .inner-pane-toggler:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  background: #FD9 !important;
  border-color: #CB7 !important;
}

.contextsPanes .inner-pane-resizer-sliding {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.contextsPanes .inner-pane-resizer-sliding:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.contextsPanes .inner-pane-resizer-sliding .inner-pane-toggler {
  display: none !important;
}
.contextsPanes .inner-pane-resizer-sliding:hover .inner-pane-toggler {
  display: block !important;
}

.todos .outer-pane-toggler {
  background: #000;
}
