extends layout

block title
  title Login to my awesome app!

block append top-script


block main
  form(action='/signup', method='post')
    fieldset
      p: input(type='text', placeholder='Username')
      p: input(type='password', placeholder='Password')
      p: input(type='password', placeholder='Password confirmation')
      p: input(type='submit', placeholder='Signup')


block append bottom-script


//- if (dev)
