<ul class="actions">
  <li><a href="/logout">logout</a></li>
  <li><a href="/todos2/222">todo 222</a></li>
  <li><a href="/todos2">todos2</a></li>
  <li><a href="/todos2/">todos2/</a></li>
</ul>
<div class="actionView">
  <div class="todos"></div>
  <div class="calendar"></div>
</div>
