<div class="row">
  <div class="sidebar">
    <h1>bTask</h1>
    <ul class="sidebar-nav"></ul>
    </div>
  </div>
  <div class="tasks">
    <small class="pull-right" id="profile-container"></small>
    <div>
      <div id="sign-in-container"></div>
      <div id="signed-in-container"></div>
    </div>
  </div>
</div>
