<div class="task">
  <div class="main">
    <h1>Some text 1</h1>
    <div class="controls">
      <a href="#clone" class="clone" title="clone">clone</a>
      <a href="#cloneAll" class="cloneAll" title="cloneAll">cloneAll</a>
      <a href="#fol" class="hideFol" title="hide followers">hide followers</a>
      <a href="#dep" class="hideDep" title="hide dependents">hide dependents</a>
    </div>
  </div>
  <div class="dependents">
    <div class="task">
