<div class="contextsList"></div>
<div class="contextsPanes">
  <div class="inner-pane-center">
    <div class="activateAContext"></div>
  </div>
  <div class="inner-pane-east"></div>
  <div class="inner-pane-west"></div>
  <div class="inner-pane-south"></div>
  <div class="inner-pane-north"></div>
</div>
